export(bp_argument)
export(bp_call_value)
export(bp_create_project)
export(bp_default_environment)
export(bp_execute_project)
export(bp_generate_code)
export(bp_generate_lines)
export(bp_get_spec)
export(bp_instantiate_module)
export(bp_load_project)
export(bp_load_registry)
export(bp_load_template)
export(bp_parse_code)
export(bp_project_from_template)
export(bp_save_project)
export(bp_validate_module_spec)
export(bp_validate_project)
importFrom(ggplot2,ggplot)
importFrom(htmltools,HTML)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom(rlang,call2)
importFrom(shiny,runApp)
